extends layout

block content

  div.row
    div.col-md-12
      h1= title

  div.row
    div.col-md-12
      p This is a simple nightlife coordination app.

  div.row
    div.col-md-12
      p You can make a research by using the field down below.

  include search.pug