div.row
  div.col-md-12
    form(method='GET' action='/search')
      div.form-group
        input.form-control(type='text' id='search' name='search' placeholder='Search')
      button.btn.btn-primary(type='submit') Search
