/**
 * freeCodeCamp - Back End Development Certification - Dynamic Web Application Projects
 * Style
 * 
 * @author MLBORS
 * @version 1.0.0.0
 * @since 2017.11.11
 * @for freeCodeCamp
 */

/*****************/
/***** STYLE *****/
/*****************/

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

img.responsive-image {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#main .row {
  margin-bottom: 30px;
}

#main .row:last-of-type {
  margin-bottom: 0;
}

#main ul {
  padding: 0;
  list-style-position: inside;
}

#main ul li {
  margin-bottom: 6px;
}

#main ul li:last-of-type {
  margin-bottom: 0;
}

#main form ul {
  padding-left: 15px;
  list-style-type: none;
}

#footer {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}